@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

.paragraph {
  color: hsl(0deg, 0%, 63%);
  word-spacing: 1px;
  line-height: 3ch;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 3ch;
}

nav {
  padding: 0 1em 0 1em;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 10;
  overflow-x: hidden;
  font-family: "League Spartan", sans-serif;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
@media screen and (min-width: 1440px) {
  nav {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 2em 0 0 3em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
  }
}
nav .toggleMenu {
  position: absolute;
  left: 1em;
  z-index: 4;
  font-size: 25px;
  color: hsl(0deg, 0%, 100%);
  background-color: transparent;
}
@media screen and (min-width: 1440px) {
  nav .toggleMenu {
    display: none;
  }
}
nav .toggleMenu .grayed {
  color: hsl(0deg, 0%, 63%);
}
nav .navLinks {
  background-color: transparent;
  color: hsl(0deg, 0%, 100%);
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 1em;
  position: fixed;
  width: 100%;
  top: 0;
  left: 100%;
  right: 0;
  z-index: 3;
  height: 70px;
  padding: 0 2em 0 1em;
  background-color: hsl(0deg, 0%, 100%);
  transition: ease-out 0.5s;
}
@media screen and (min-width: 1440px) {
  nav .navLinks {
    width: unset;
    position: relative;
    top: unset;
    left: unset;
    background-color: unset;
  }
}
nav .navLinks.navLinksActive {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 1em;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: 70px;
  padding: 0 2em 0 1em;
  background-color: hsl(0deg, 0%, 100%);
  transition: ease-out 0.5s;
  color: black;
}
@media screen and (min-width: 1440px) {
  nav .navLinks.navLinksActive {
    width: unset;
    position: relative;
    top: unset;
    left: unset;
    background-color: unset;
  }
}
nav .navLinks.navLinksActive > li > a:hover {
  text-decoration: none;
}
nav .navLinks > li > a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  -webkit-text-decoration-color: hsl(0deg, 0%, 100%);
          text-decoration-color: hsl(0deg, 0%, 100%);
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
}

.main {
  width: 100%;
  font-family: "League Spartan", sans-serif;
}
@media screen and (min-width: 1440px) {
  .main {
    position: relative;
  }
}
.main .swiper {
  width: 100%;
  position: relative;
  z-index: 0;
}
@media screen and (min-width: 1440px) {
  .main .swiper {
    position: unset;
    width: 100%;
  }
}
.main .swiper .carouselItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}
@media screen and (min-width: 1440px) {
  .main .swiper .carouselItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
}
.main .swiper .carouselItem img {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
@media screen and (min-width: 1440px) {
  .main .swiper .carouselItem img {
    width: 60%;
    height: auto;
  }
}
.main .swiper .carouselItem .hero {
  width: 100%;
  margin-top: 4em;
  padding: 1em 2.5em;
}
@media screen and (min-width: 1440px) {
  .main .swiper .carouselItem .hero {
    margin-top: 0;
    width: 40%;
    padding: 1em 4em;
  }
}
.main .swiper .carouselItem .hero h1 {
  line-height: 1;
  font-size: 2.2em;
  font-weight: 600;
}
@media screen and (min-width: 1440px) {
  .main .swiper .carouselItem .hero h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
  }
}
.main .swiper .carouselItem .hero .link {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}
.main .swiper .carouselItem .hero .link > a {
  text-transform: uppercase;
  vertical-align: middle;
  letter-spacing: 6px;
  font-weight: 500;
}
.main .swiper .carouselItem .hero .link > a:hover {
  color: #444444;
}
.main .swiper .carouselItem .hero .link > img {
  width: 40px;
  height: auto;
}
.main .swiper .carouselItem .hero .link:hover > img {
  margin-left: 8px;
  transition: all ease-in-out 0.2s;
}
.main .swiper .buttonGroup {
  position: absolute;
  bottom: calc(100% - 500px);
  right: 0px;
  z-index: 3;
  background-color: black;
  color: hsl(0deg, 0%, 100%);
  width: 8.5rem;
  height: 3.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
}
@media screen and (min-width: 1440px) {
  .main .swiper .buttonGroup {
    width: 10rem;
    height: 5rem;
    right: calc(100% - (10em + 60%));
    bottom: 0;
  }
}
.main .swiper .buttonGroup .box {
  width: 50%;
  height: 100%;
  padding: 1em;
  aspect-ratio: 1;
  background-color: black;
}
.main .swiper .buttonGroup .box:hover {
  background-color: #444444;
}

.about {
  width: 100%;
  margin-top: 4em;
  font-family: "League Spartan", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3em;
}
@media screen and (min-width: 1440px) {
  .about {
    margin-top: 0;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0em;
  }
}
.about .center {
  padding: 1em 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
}
@media screen and (min-width: 1440px) {
  .about .center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1em;
  }
}
.about .center h2 {
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2ch;
}
@media screen and (min-width: 1440px) {
  .about .center p {
    max-height: 400px;
    text-overflow: ellipsis;
  }
}
.about img {
  width: 99%;
  height: auto;
  margin: auto;
}
@media screen and (min-width: 1440px) {
  .about img {
    min-width: 30%;
    height: 400px;
    max-height: 900px;
  }
}/*# sourceMappingURL=style.css.map */