@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 0 1em 0 1em;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 10;
  overflow-x: hidden;
  font-family: "League Spartan", sans-serif;
  background-color: transparent;
}
@media screen and (min-width: 1440px) {
  nav {
    padding: 4em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
  }
}
nav .toggleMenu {
  position: absolute;
  left: 1em;
  z-index: 4;
  font-size: 25px;
  color: hsl(0deg, 0%, 100%);
  background-color: transparent;
}
@media screen and (min-width: 1440px) {
  nav .toggleMenu {
    display: none;
  }
}
nav .toggleMenu .grayed {
  color: hsl(0deg, 0%, 63%);
}
nav .navLinks {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 1em;
  position: fixed;
  width: 100%;
  top: 0;
  left: 100%;
  right: 0;
  z-index: 3;
  height: 70px;
  padding: 0 2em 0 1em;
  background-color: hsl(0deg, 0%, 100%);
  transition: ease-out 0.5s;
  color: hsl(0deg, 0%, 100%);
}
@media screen and (min-width: 1440px) {
  nav .navLinks {
    width: unset;
    position: relative;
    top: unset;
    left: unset;
    background-color: unset;
  }
}
nav .navLinks.navLinksActive {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 1em;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: 70px;
  padding: 0 2em 0 1em;
  background-color: hsl(0deg, 0%, 100%);
  transition: ease-out 0.5s;
  color: black;
}
@media screen and (min-width: 1440px) {
  nav .navLinks.navLinksActive {
    width: unset;
    position: relative;
    top: unset;
    left: unset;
    background-color: unset;
  }
}

.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
}
@media screen and (min-width: 1440px) {
  .main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0em;
    position: relative;
  }
}

.hero {
  width: 100vw;
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
}
@media screen and (min-width: 1440px) {
  .hero {
    width: 40vw;
    padding: 1em 6em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
  }
}
.hero h1 {
  font-size: 2.2em;
  font-weight: bold;
}
@media screen and (min-width: 1440px) {
  .hero h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
  }
}
.hero p {
  color: hsl(0deg, 0%, 63%);
  word-spacing: 1px;
  line-height: 2ch;
}
.hero .link {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2em;
}
.hero .link > a {
  text-transform: uppercase;
  vertical-align: middle;
  letter-spacing: 6px;
  font-weight: 500;
}
.hero .link > img {
  font-weight: bold;
}

.swiper {
  width: 100vw;
  position: relative;
  z-index: 0;
}
@media screen and (min-width: 1440px) {
  .swiper {
    position: unset;
    width: 60vw;
  }
}
.swiper .carouselItem {
  width: 100%;
}
.swiper .carouselItem img {
  width: 100%;
  height: auto;
}
.swiper .buttonGroup {
  position: absolute;
  bottom: 2px;
  right: 0px;
  z-index: 3;
  background-color: black;
  color: hsl(0deg, 0%, 100%);
  padding: 1em;
  width: 8.5rem;
  height: 3.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
}
@media screen and (min-width: 1440px) {
  .swiper .buttonGroup {
    width: 10rem;
    height: 5rem;
    right: calc(100% - (10rem + 60vw));
    bottom: 1px;
  }
}
.swiper .buttonGroup .box {
  width: 50px;
  height: auto;
  aspect-ratio: 1;
  background-color: black;
}/*# sourceMappingURL=style.css.map */